
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 70px;
  background: 000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.logo {
  flex: 0 0 auto;
  font-size: 1.5rem;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 65px;
}

.links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  transition: color 0.2s;
}

.links li a:hover {
  color: #fccc06;
}

.login-btn {
width: 100%;
position: relative;
border-radius: 50px;
background-color: #fcaa00;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
padding-left: 22px;
padding-right: 22px;
box-sizing: border-box;
text-align: left;
font-size: 20px;
color: #fff;
font-family: Inter;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }
  .links {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
  }
  .login-btn {
    margin-left: 0;
    margin-top: 1rem;
    align-self: flex-end;
  }
}
